---
component: Spinners
analytics:
  pageCategory: component
  component: spinner
design: https://design.atlassian.com/latest/product/components/progress-indicators/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-spinner
  amd: false
  experimentalSince: 5.1
  generalSince: 5.8
  webComponentSince: 7.7
---

<h2>Summary</h2>
<p>Spinners are used for showing a system process of unknown length going on that ends with the system displaying results to the user.</p>

<h2>Status</h2>
{{> status }}

<aui-docs-contents></aui-docs-contents>

<h2 id="examples">Examples</h2>

<h3 id="example-normal">Normal spinner</h3>
<p>AUI's spinner is just an HTML element. Add it to wherever you need to indicate progress is being made.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <h5>Small spinner</h5>
        <aui-spinner size="small"></aui-spinner>

        <h5>Medium spinner</h5>
        <aui-spinner size="medium"></aui-spinner>

        <h5>Large spinner</h5>
        <aui-spinner size="large"></aui-spinner>
    </noscript>
</aui-docs-example>

<h3 id="example-in-buttons">Spinners in buttons</h3>
<p>Spinners are integrated in to <a href="{{rootPath}}docs/buttons.html">AUI buttons</a> for you.</p>

{{> example-spinner-button }}

<h3 id="example-in-toggle">Spinners in toggles</h3>
<p>Spinners are integrated in to <a href="{{rootPath}}docs/toggle-button.html">AUI toggles</a>.</p>

{{> example-spinner-toggle }}

<h3 id="example-custom-positioning">Positioning spinners inside other components</h3>
<p>As a discrete HTML element, spinners can be positioned by adding CSS to the spinner's parent element.</p>

{{> example-spinner-flexbox }}

{{> example-spinner-appheader-search }}


<h2 id="api-html">HTML API</h2>

<table class="aui">
    <caption><aui-docs-component>aui-spinner</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th>Default</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="no-wrap"><code>size</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Enum</td>
        <td><code>medium</code></td>
        <td>
            An Enum which provides size of the spinner.
            <br>
            Possible values are: <code>small</code>(20px), <code>medium</code>(30px) and <code>large</code>(50px).
        </td>
    </tr>
    <tr>
        <td><code>filled</code> <span class="aui-lozenge aui-lozenge-error">Deprecated</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td><code>false</code></td>
        <td>
            A Boolean which changes behavior of the spinner.
            <br>
            When present, the spinner element will be placed in the middle of the parent element and have a width and height of zero.
        </td>
    </tr>
    </tbody>
</table>

<h2 id="api-javascript">JavaScript API <span class="aui-lozenge aui-lozenge-error">Deprecated</span></h2>
<p>These functions are deprecated and only available via the <code>com.atlassian.auiplugin:jquery-spin</code> web-resource.</p>
<p>There are two jQuery functions available you can call on an element to add and remove a filled spinner.</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="spinner-trigger">Do Something</button>
        <span class="button-spinner" style="display: inline-block; height: 10px; width: 20px"></span>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            var spinning = false;
            AJS.$('#spinner-trigger').on('click', function() {
                if (!spinning) {
                    AJS.$(this).text('Stop Spinning!');
                    AJS.$('.button-spinner').spin();
                    spinning = true;
                } else {
                    AJS.$(this).text('Do Something');
                    AJS.$('.button-spinner').spinStop();
                    spinning = false;
                }
            });
        });
    </noscript>
</aui-docs-example>

<p>Calling <code>AJS.$(element).spin()</code> will append the following spinner to <code>element</code>:</p>
<noscript is="aui-docs-code" type="text/html">
    <aui-spinner size="small" filled></aui-spinner>
</noscript>

<p>Calling <code>AJS.$(element).spinStop()</code> will remove the spinner element.</p>
