---
layout: main-layout.hbs
title: AUI - Archive
---
<style>
    .archive h3 {
        display: inline-block;
    }

    .archive ul {
        padding: 0;
        list-style-type: none;
    }

    .archive ul li {
        padding-top: 10px;
    }

    #archive-versions {
        margin-top: 10px;
    }

    #archive-versions .spinner {
        margin-top: 20px;
    }

    .aui-expander-trigger:hover {
        text-decoration: none;
    }
</style>
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Archive</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content archive">
                <div id="archive-versions"><div class="spinner"><em>Loading versions...</em></div></div>
                <div class="aui-group">
                    <div class="aui-item">
                        <a class="aui-expander-trigger" aria-controls="expander-5-6-x">
                            <h3>AUI 5.6.x</h3>
                            <span class="aui-icon aui-icon-small aui-iconfont-arrow-down">expand</span>
                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Ancient</span>
                        </a>
                        <div id="expander-5-6-x" class="aui-expander-content" aria-expanded="false">
                            <ul>
                                <li><a href="/aui/5.6.16">5.6.16</a></li>
                                <li><a href="/aui/5.6.15">5.6.15</a></li>
                                <li><a href="/aui/5.6.12">5.6.12</a></li>
                                <li><a href="/aui/5.6.11">5.6.11</a></li>
                                <li><a href="/aui/5.6.10">5.6.10</a></li>
                                <li><a href="/aui/5.6.8">5.6.8</a></li>
                                <li><a href="/aui/5.6.7">5.6.7</a></li>
                                <li><a href="/aui/5.6.5">5.6.5</a></li>
                                <li><a href="/aui/5.6.4">5.6.4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="aui-group">
                    <div class="aui-item">
                        <a class="aui-expander-trigger" aria-controls="expander-5-5-x">
                            <h3>AUI 5.5.x</h3>
                            <span class="aui-icon aui-icon-small aui-iconfont-arrow-down">expand</span>
                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Ancient</span>
                        </a>
                        <div id="expander-5-5-x" class="aui-expander-content" aria-expanded="false">
                            <ul>
                                <li><a href="/aui/5.5.6">5.5.6</a></li>
                                <li><a href="/aui/5.5.5">5.5.5</a></li>
                                <li><a href="/aui/5.5.2">5.5.2</a></li>
                                <li><a href="/aui/5.5.1">5.5.1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="aui-group">
                    <div class="aui-item">
                        <a class="aui-expander-trigger" aria-controls="expander-5-4-x">
                            <h3>AUI 5.4.x</h3>
                            <span class="aui-icon aui-icon-small aui-iconfont-arrow-down">expand</span>
                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Ancient</span>
                        </a>
                        <div id="expander-5-4-x" class="aui-expander-content" aria-expanded="false">
                            <ul>
                                <li><a href="/aui/5.4.4">5.4.4</a></li>
                                <li><a href="/aui/5.4.3">5.4.3</a></li>
                                <li><a href="/aui/5.4.1">5.4.1</a></li>
                                <li><a href="/aui/5.4.0">5.4.0</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script async defer>
    (function($) {
        var MINOR_REG_EXP = /^[0-9]+\.[0-9]+/;
        var MS_PER_DAY = 86400000;
        var today = new Date();

        var versionPromise = $.ajax('/aui/versions.json');

        function getVersions() {
            return versionPromise.then(function(result) {
                return result;
            });
        }

        function getMajorVersions (versions) {
            var majorVersions = {};

            versions.forEach(function(version) {
                var majorVersion = version.match(MINOR_REG_EXP).pop();
                var versionsGroup = majorVersions[majorVersion] = majorVersions[majorVersion] || [];

                versionsGroup.push(version);
            });

            return majorVersions;
        }

        function daysSinceRelease (version, versionData) {
            var releaseDateRaw = versionData.all[version]; // should be in ISO 8601 format.
            var releaseDate = new Date(releaseDateRaw);
            return Math.floor((today - releaseDate) / MS_PER_DAY);
        }

        function releaseDateLozengeHtml (version, versionData) {
            var days = daysSinceRelease(version, versionData);
            if (days < 60) {
                return `<span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">${days} days ago</span>`
            } else if (days < 300) {
                return `<span class="aui-lozenge aui-lozenge-subtle aui-lozenge-inprogress">${Math.floor(days / 30)} months ago</span>`
            } else {
                return `<span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">${Math.floor(days / 30)} months ago</span>`
            }
        }

        function buildMajorVersionsHtml (versionData) {
            const majorVersions = getMajorVersions(versionData.stable);
            return Object.keys(majorVersions).map((majorVersion) => {
                var expanderId = `expander-${majorVersion.replace(/\./g, '-')}-x`;
                var versions = majorVersions[majorVersion];
                var linksHtml = versions.map((version,j) => {
                    return `<li>
                        <a href="/aui/${version}/">${version}</a>
                        ${j === 0 ? '<i>(Latest)</i>' : ''}
                        <i>(published ${daysSinceRelease(version, versionData)} days ago)</i>
                    </li>`;
                }).join('');

                return `
                    <div class="aui-group">
                        <div class="aui-item">
                            <a class="aui-expander-trigger" aria-controls="${expanderId}">
                                <h3>AUI ${majorVersion}.x</h3>
                                <span class="aui-icon aui-icon-small aui-iconfont-arrow-down">expand</span>
                                ${releaseDateLozengeHtml(versions[0], versionData)}
                            </a>

                            <div id="${expanderId}" class="aui-expander-content" aria-expanded="false">
                                <ul>${linksHtml}</ul>
                            </div>
                        </div>
                    </div>`.trim();
            }).join('');
        }

        $(document).on('click', '.aui-expander-trigger', function(e) {
            var currentTarget = e.currentTarget;
            var $icon = $('.aui-icon', currentTarget);

            if (currentTarget.getAttribute('aria-expanded') === 'false') {
                $icon
                    .removeClass('aui-iconfont-arrow-up')
                    .addClass('aui-iconfont-arrow-down')
                    .text('expand');
            } else {
                $icon
                    .removeClass('aui-iconfont-arrow-down')
                    .addClass('aui-iconfont-arrow-up')
                    .text('collapse');
            }
        });

        $(function() {
            var $archiveContainer = $('#archive-versions');
            $('.spinner', $archiveContainer).spin();

            getVersions()
                .then(versionData => buildMajorVersionsHtml(versionData))
                .then(html => $archiveContainer.html(html))
        });

    }(window.jQuery));
</script>
